.about{
    background-color:#DC3C45;
    padding: 3rem;
    color: white;
    text-align: center;
    h2{
        font-size: 3rem;
        font-weight: 900;
    }
    p{
        font-weight: 100;
    }
}